
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* NAVBAR */
nav{
  background: white;
  height: 80px;
  width: 100%;
}
.logo{
margin-left: 10px;
margin-top: 10px;
  max-width: 100px;

}
nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}
a.active,a:hover{
  background: #612626;
  transition: .5s;
  color: white;
}
.checkbtn{
  font-size: 30px;
  color: #612626;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.logo-bkg{
  position: relative;
text-align: center;
}
@media (max-width: 952px){
  /* navbar */
  .logo{
    max-width: 100px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  /* NAVBAR */
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: #612626;
    color: #white;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(images/bkg.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
