* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 1% 4%;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
}

.logo {
  margin-left: 10px;
  margin-top: 10px;
  max-width: 100px;
}

nav ul {
  float: right;
  margin-right: 60px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}

nav ul li a {
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

nav a.active, nav a:hover {
  background: #612626;
  transition: .5s;
  color: white;
}
nav .logo-link:hover{
  background: none;
  color: none
}

.checkbtn {
  font-size: 30px;
  color: #612626;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.main {
  background: url(images/bkg.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  text-align: center;
  max-width: 100%;
  padding-top: 7%;
}


/* HOME */
/* MAIN 1 */
.main .logo-bkg {
  text-align: center;
  max-width: 100%;
}

.main h3 {
  text-align: center;
  padding-top: 2%;
  font-size: 1.5rem;
}

.button {
  border: none;
  padding: 20px 40px;
  background-color: #612626;
  letter-spacing: 1px;
  color: white;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-family: 'Amatic SC';
  text-align: center;
}

.button:hover  {
  background-color: #c27021;
}

/* MAIN 2 */
.main-2 {
  text-align: center;
  margin-bottom: 5%;
}

.main-2 h2, .vision {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.work-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-items .items {
  text-align: center;
  flex: 0 1 300px;
}

.items h2 {
  width: 10px;
}

/* MAIN 3 */

.main-3 {
  display: flex;
  background-color: #c27021;
  padding: 3%;
}

.main-3 h2 {
  text-align: right;
  font-size: 2rem;
  padding-top: 7%;
  color: #ffffff;
  padding-left: 3%;
}



/* MAIN 4 */
.main-4{
  display: flex;
  padding: 3%;

}
.main-4 h2 {
  text-align: left;
  font-size: 2rem;
  padding-top: 7%;
  padding-left: 3%;
}
.ourvision{
  text-align: center;
}

/* SUBSCRIPTION */
.sub{
  text-align: center;

}
.sub h2{
  font-size: 2.5rem;
  padding: 3% 0 3% 0;
}

.bundles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  text-align: center;
}
.bundle h4{
  font-size: 1.8rem;
  padding-top: 3%;
}
.bundle{
  padding: 3%;
  box-shadow: 0 0 13px -4px rgba(0, 0, 0, .17);
}

#popup{
  text-align: center;
  border: 10px solid #c27021;
   position: fixed;
  top: 40%;
  left:50%;
  width: 400px;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  background: #fff;
}
#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* OURVISION */
.roast, .poetry{
  padding-top: 3%;
}

/* FOOTER */
.contact {
  text-align: center;
  background-color: #612626;
  padding-top: 3%;
  margin-top: 3%;
}

.contact a {
  padding: 0 3%;
  font-size: 2rem;
  color: #ffffff;
}

.contact a:hover {
  color: #c27021;
}

.contact p {
  padding-bottom: 3%;
  color: #ffffff;
}
/* CONTACT */
#contact-form{
	background-color: #ffe0c2;
	text-align: center;
padding: 7% 3%;
}
#contact-form h2, p{
margin-bottom: 3%;

}
.wrapper{
margin:auto;
	max-width:400px;
	width: 100%;
	background: #fff;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 4px 4px 2px rgba(254,236,164,1);

}

.wrapper h2{
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;


}
.wrapper .input_field{
	margin-bottom: 10px;
}
.wrapper .input_field input[type="text"],
.wrapper textarea{
	width: 100%;
	border:1px solid #e0e0e0;
	padding: 10px;
}
.wrapper textarea{
	height: 80px;
	resize: none;
}

.wrapper #error_message{
	margin-bottom: 20px;
	padding: 0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
}
/* MEDIA QUERIES */
@media (max-width: 952px) {

  /* navbar */
  .logo {
    max-width: 100px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav {
    z-index: 1;
  }

  .main {
    padding-top: 7%;
    background-position: center;
  }

  .work-items .items {
    padding-bottom: 3%;
  }
}


@media (max-width: 858px) {

  /* NAVBAR */
  .checkbtn {
    display: block;
    margin-right: 40px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  nav  a:hover, nav a.active {
    background: #612626;
    color: #ffffff;
  }


  #check:checked~ul {
    left: 0;
  }

  .work-items, .main-3, .main-4 {
    flex-direction: column;
    align-items: center;
  }

  .work-items .items, .bundle {
    padding-bottom: 5%;
  }
  .main-3 h2{
    text-align: center;
  }
.main-4 h2{
  order:2;
  text-align: center;
}
.main-4 img{
  width: 70%;
}
.bundles{
  flex-direction: column;
}
.roast{
  width: 70%;
}
.poetry{
 display: none;
}
#popup{
  width: 300px;
}
.bundle{
  margin-bottom: 3%;
}
}
/* END OF MEDIA QUERIES */
